{{#
	@name Logo
	@desc The logo component with a `width` attribute.
#}}

<a
    class="flex-shrink-0 flex items-center"
    aria-label="Logo {{ config:app:name }}"
    href="{{ site:url }}"
>
    {{ if type == 'footer' }}
        <img src="{{ configuration.footer_logo }}" class="block lg:hidden h-11 w-auto mobile:w-36"/>
        <img src="{{ configuration.footer_logo }}" class="hidden lg:block h-11 w-auto mobile:w-36"/>
    {{ else }}
        <img src="{{ configuration.header_logo }}" class="block lg:hidden h-11 w-auto mobile:w-36"/>
        <img src="{{ configuration.header_logo }}" class="hidden lg:block h-11 w-auto mobile:w-36"/>
    {{ /if }}
</a>
