{{#
	@name Header
	@desc The sites header rendered on each page.
#}}

<header class="fixed z-50 w-full bg-primary/80">
    <nav  x-data="{ show: false }" class="bg-transparent border-b border-secondary">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between ipad-1:py-5">
                <div class="absolute inset-y-0 left-0 flex items-center lg:hidden ipad-1:relative">
                    <!-- Mobile menu button-->
                    <button @click="show = !show" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" :aria-expanded="show ? 'true' : 'false'">
                        <span class="sr-only">Open main menu</span>

                        {{ svg src="menu" class="block h-6 w-6" }}
                        {{ svg src="x" class="hidden h-6 w-6" }}

                    </button>
                </div>

                <div class="flex-1 flex items-center justify-center ipad-1:flex-none ipad-1:px-2.5 ipad-1:justify-center sm:items-stretch sm:justify-start">
                    {{ partial:components/logo }}
                </div>

                {{ partial:navigation/main_desktop }}

            </div>
        </div>

        {{ partial:navigation/main_mobile }}
    </nav>
</header>
